main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.mural{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 25px 0;
}

.quadro{
    position: relative;
    width: 335px;
    height: 432px;
    padding: 5px 10px;
}
h2{
    position: absolute;
    top: 310px;
    left: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
h3{
    position: absolute;
    top: 350px;
    left: 30px;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}
@media(max-width:1440px){
    .mural{
        max-width: 900px;
        justify-content: center;
        height: 900px;
    }
}
@media(max-width:600px){
    .mural{
        max-width: 500px;
        justify-content: center;
        height: 1820px;
    }
}

