*{
    margin: 0px;
}
body{
    margin: auto;
    padding: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 1.5em;
    width: 450px 
}

h1, h2{
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
    background-color: #0b2052;
    color: beige;
}
li{
    text-align: right;
}

#valor-total{
    text-transform: uppercase;
    color: #0b2052;
    border-radius: 40px;
    border: solid 2px #0b2052;
    text-align: right;
    padding: 5px 5px;
    margin-top: 20px;
    margin-right: -5px;
    
}