.container{
    display: flex;
}
.direction{
    flex-direction: column-reverse;
}
.wrap{
    flex-wrap: nowrap;
}

.flow{
    flex-flow: row-reverse wrap;
}
.container div{
    background-color: aqua;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
}