h3{
    color: darkgreen;
}
.classe{
    color: lightblue;
}
#identificador{
    margin-left: 50px;
}
*{
    margin: 0;
    padding: 0;
}
.titulo{
    font-size: 30px;
}
.titulo.laranja{
    color: orange;
}
.titulo.vermelho{
    color: red;
}
p, span{
    font-size: 12px;
}

.sobre .texto{
    background-color: burlywood;
}

section > p{
    background-color: coral;
}

div + p{
    color: yellow;
}

a[target= _blank]{
    color: red;
}
a[href="google.com"]{
    background-color: aquamarine;
}