.container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: darkblue;
}
.card{

}

.informations{

}
.informations .tittle{

}
.value-and-date{

}
.author{

}