main{
    background-color: yellowgreen;
    display: grid;
    grid-column: 1 / span 2;
    height: 400px;
    padding: 10px 35px 5px 35px;

}
.destaque{
    background-color: aqua;
    display: grid;
    grid-template:400px / 545px;
}
.informacao-video-principal{
    display: grid;
    grid-row: 2 / span 3 ;

}
.menu-de-navegar{
    display: grid;
    background-color: brown;
    grid-template:400px / 270px;

}
.video{
    display: grid;
    background-color: coral;
    margin: 10px;
}
.informacao-proximo-video{
    display: grid;
}