html{
    font-size: 62.5%;
}
body{
    display: grid;
    grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "services services services services"
    "projects projects projects projects"
    "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
/* header */
.header{
    grid-area: header;
    background-color: #fff;
}
.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 20px 40px;
}

.header .header-container .logo{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s;
}
.header .header-container a:hover{
    color: coral;
}

    /* hero */
    .hero{
    grid-area: hero;
    background-color: brown;
}

/* about */
.about{
    grid-area: about;
    background-color: violet;
}

/* services */
.services{
    grid-area: services;
    background-color: peru;
}

/* porjects */
.projects{
    grid-area: projects;
    background-color: palevioletred;
}

/* footer */
.footer{
    grid-area: footer;
    background-color: orange;
}