*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

main{
    margin:20px auto;
    width: 700px;
    background-color: #2e4d55;
    color: beige;
    border-radius: 20px;
    
}
h1{
    text-align: center;
    padding: 20px;
}


p{
    padding: 5px;
    text-align: justify;
    font-size: 15px;
}

.topico{
    text-indent: 10px;
    font-size: 20px;
}

div{
    margin: 0px 10px;
}
img{
    margin: 10px;
    align-items: baseline;
}

#link{
    text-decoration: none;
    color: rgb(172, 172, 116);
}

#link:hover{
    background-color: beige;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(245, 245, 220, 0.2);
}